@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(63,94,251);
background: linear-gradient(90deg, rgb(157, 170, 235) 0%, rgb(214, 122, 140) 100%);
}

html, body, #root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}